version: "3.7"

services:
  mysql:
    container_name: mysql
    image: mysql:latest
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: groupings
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: covengers
      MYSQL_PASSWORD: convengers

  redis:
    container_name: redis
    image: redis:latest
    ports:
      - 6379:6379

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper:3.4.6
    ports: 
      - 2181:2181
  
  kafka:
    container_name: kafka
    image: wurstmeister/kafka:2.12-2.3.0
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "event:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 10754:10754
    restart: always
    depends_on:
      - mysql
      - redis
      - kafka